
$colores: (
    "coloruno":rgb(32, 84, 126),
    "colordos": #eee4e4,
    "colortres":#cec8c8
);
@mixin lolo ($justi) {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: $justi;   
}
.text{
    margin-top: 50px;
    margin-bottom: 50px;
    color:rgb(126, 25, 25);
}




